[holland:backup]
backups-to-keep = 1
estimated-size-factor = 1.0
plugin = xtrabackup

[xtrabackup]
innobackupex = innobackupex
stream = yes
slave-info = no

[compression]
method = '{{ methode | default('gzip')}}'
inline = '{{ inline | default('yes')}}'
level = '{{ level | default('1')}}'

[mysql:client]
defaults-extra-file = ~/.my.cnf
{% if user is defined %}
user = '{{ user }}'
{% else %}
#user=
{% endif %}
{% if password is defined %}
password = '{{ password }}'
{% else %}
#password=
{% endif %}
{% if socket is defined %}
socket = '{{ socket }}'
{% else %}
#socket =
{% endif %}
{% if host is defined %}
host = '{{ host }}'
{% else %}
#host =
{% endif %}
{% if port is defined %}
port = '{{ port }}'
{% else %}
#port =
{% endif %}